@using hmwk49.data
@model PersonViewModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <a href="/home/add" class="btn btn-success">Add People</a>
        <table class="table table-hover table-bordered">

            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            @foreach(Person p in Model.People)
            {<tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Age</td>
            </tr>

            }
            
            
        </table>
    </div>
</div>